* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}
body{
   padding: 50px;
}
#hero1{
height: 30vw;
width: 30vw;
background-color: red;
border-radius: 50%;
filter: blur(20px);
position: absolute;
}
#hero2{
    height: 30vw;
    width: 30vw;
    background-color: rgb(0, 255, 191);
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

    }

    @keyframes anime {
        from{
            transform: translate(-10%,-10%);
        }
        to{
            transform: translate(10%,10%);
        }
    }