*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#password{
    padding: 20px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: antiquewhite;
    border: 2px solid black;
}
#password:focus {
    outline: none;
}